@import "tailwindcss";

@theme {
  --color-background: #F8F3FF;
  --color-primary: #A855F7;
  --color-secondary: #EC4899;
  --color-accent: #FFD6EC;
  --color-cards: #FFFFFF;
  --color-foreground: #333333;
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: var(--font-poppins), sans-serif;
}
